
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
      </div>

      <div class="row">
        <div class="col-md-3  col-md-offset-4">
          <a href="#" class="thumbnail">
            <img src="../assets/img/weather.jpg">
          </a>
        </div>
      </div>

      <div [hidden]="!searchError" id="divError" class="alert alert-danger" role="alert">{{messageError}}</div>

      <form method="post">

        <input type="text" name="inputBusca" class="form-control" [(ngModel)]="busca" />
        <div class="col-md-3  col-md-offset-4">
          <button id="btnSearch" class="btn btn-primary center-block" (click)="search()"  type="button">Consultar</button>
        </div>

      </form>

      <div class="panel panel-default"   [hidden]="!searchFound">
        <div class="panel-body">
          
            <div class="row"> 
                <div class="col-md-6">
                    <label>Temperature: </label>
                </div>
                <div class="col-md-6" id="columnResult">
                    {{result.temperature}}
                </div>

            </div>

        </div>
      </div>
 
    </div>


